<div
ng-show="control.mode"
class="col-xs-12" 
style="
position:fixed;top:0;left:0;z-index:80;background: #aaa;
width: 100%;
height: 100%;
overflow-y: auto;"
>

<button 
class="btn btn-primary"
ng-click="control.mode=0"
>關閉</button>
<div ng-if="control.mode==1">
	{{control.edit.name}}
	<div class="col-xs-12" >
		<button 
		class="btn btn-primary btn-sm"
		ng-repeat="tid in control.edit.list"
		ng-click="del(control.edit.list,$index,control.edit.id)"
		>
		{{tagName[tid]}}
		</button>
	</div>
</div>
<div ng-if="control.mode==2">
搜尋
	<div 
	style="display:inline-block;border:#000000 1px solid; "
	ng-repeat="tid in control.search.data.required"
	>
		<button 
		class="btn btn-primary btn-sm"
		ng-click="control.search.data.required.splice($index,1)"
		>{{tagName[tid]}}
		</button><button 
		ng-click="control.search.data.optional.push(control.search.data.required.splice($index,1).pop())"
		class="btn  btn-sm btn-danger"
		>R</button>
	</div><div 
	style="display:inline-block;border:#000000 1px solid; "
	ng-repeat="tid in control.search.data.optional"
	>
		<button 
		class="btn btn-primary btn-sm"
		ng-click="control.search.data.optional.splice($index,1)"
		>{{tagName[tid]}}
		</button><button 
		ng-click="control.search.data.required.push(control.search.data.optional.splice($index,1).pop())"

		class="btn btn-primary btn-sm btn-primary"
		>R</button>
	</div>


</div>
<tag-type wid="$ctrl.wid"></tag-type>
</div>