<input 
type="text" 
ng-model="search.tagName"
ng-enter="add(search)"
/>
<div 
	style="display:inline-block;" 
>
	<button
	draggable="true"
	sortable="cache.relation[level_id][$ctrl.select||0]"
	index="$index"

	ng-show="
	cache.tagName[item.child_id].indexOf(search.tagName)!=-1 
	&& 
	!$ctrl.mode
	"
	
	ng-class="
	$ctrl.selectList[$ctrl.levelIndex].select==item.child_id?
	'btn-danger':
	'btn-primary'
	"
	ng-click="
	$ctrl.selectList[$ctrl.levelIndex].select==item.child_id?
	$ctrl.selectList[$ctrl.levelIndex].select=undefined:
	$ctrl.selectList[$ctrl.levelIndex].select=item.child_id
	"
	ng-right-click="del($index)"
	ng-repeat="item in cache.relation[level_id][$ctrl.select||0]"
	class="btn btn-sm" 
	>
	{{cache.tagName[item.child_id]}}
	<span ng-class="cache.mode?'hidden':''">
	({{cache.tagCount[item.child_id]||0}})
	</span>
	</button>
</div>

<tag-recusion
style="display:{{$ctrl.mode?'inline-block;':'block'}}"
ng-if="
$ctrl.selectList[$ctrl.levelIndex].select 
&& 
$ctrl.levelList[$ctrl.levelIndex+1]
"

select-list="$ctrl.selectList"

select="$ctrl.selectList[$ctrl.levelIndex].select"

level-list="$ctrl.levelList"
level-index="$ctrl.levelIndex+1"
></tag-recusion>








