<button 
class="btn btn-sm btn-primary"
ng-repeat="tid in $ctrl.list"
ng-click="delTag($ctrl.list,$index,$ctrl.id)"
sortable="$ctrl.list"
index="$index"
draggable="true"
>
{{tagName[tid]}}
</button>
<div style="border:#000000 1px solid;display:inline-block;">
	<input 
	style="width: auto;display:inline-block;"
	class="form-control"
	type="text" 
	ng-model="tag_name"
	placeholder="新增自訂標籤"
	/><button 
	class="btn btn-sm btn-primary"
	ng-click="addTag({source_id:$ctrl.id,tag_name:tag_name,sort_id:$ctrl.list.length},$ctrl.list);tag_name=''"
	>新增</button>
</div>