<div class="col-xs-12 bottom_line" >
	<button 
	class="btn btn-sm btn-primary"
	ng-click="edit=!edit;"
	>{{cache.tagType.name[$ctrl.tid]}}</button>
	
	
	<div 
	ng-show="edit"
	style="display:inline-block;"
	>
		<button 
		ng-click="add()"
		class="btn btn-primary btn-sm"
		>新增階層</button>
		<button 
		ng-repeat="item in list"
		ng-right-click="del($index)"
		class="btn btn-primary btn-sm">
		第{{$index+1}}層
		</button>
		
	</div>
</div>

<tag-recusion
ng-if="list.length"

select-list="cache.selectList[$ctrl.tid]"
level-list="list"
level-index="0"

></tag-recusion>
		
