<div class="col-xs-12 bottom_line" >
	<textarea 
	placeholder="網站名稱"
	style="vertical-align: middle;"
	ng-model="webList.name" 
	ng-enter="add(webList)"
	></textarea>
	<button 
	draggable="true"
	sortable="cache.webList.list"
	index="$index"
	
	ng-repeat="item in cache.webList.list"
	ng-click="
	cache.webList.select==item.id?
	cache.webList.select=undefined:cache.webList.select=item.id"
	ng-class="
	cache.webList.select==item.id?
	'btn-danger':'btn-primary'
	"
	class="btn btn-sm"	
	ng-right-click="del($index)"
	>{{item.name}}({{item.sort_id}})</button>
	
</div>
<div class="col-xs-12 bottom_line">
	<textarea 
	placeholder="標籤種類"
	ng-model="tagType.name" 
	style="vertical-align: middle;"
	ng-enter="add(tagType);"
	></textarea>
	<div style="display:inline-block;">
		<div ng-if="!cache.webTagType.list.length">
			<button
			draggable="true"
			sortable="cache.tagType.list"
			index="$index"
			
			ng-click="relation(item.id)"
			ng-class="0?'btn-danger':'btn-primary'"
			class="btn btn-sm"	
			ng-right-click="del($index)"
			ng-repeat="item in cache.tagType.list">
			{{item.name}}({{item.sort_id}})
			</button>
		</div>
		<div ng-if="cache.webTagType.list.length">
			<button
			draggable="true"
			sortable="list"
			index="$index"
			
			ng-click="relation(item.id)"
			class="btn btn-sm btn-danger"	
			ng-right-click="del($index)"
			ng-repeat="item in list">
			{{item.name}}({{item.sort_id}})
			</button><button
			ng-click="relation(item.id)"
			class="btn btn-sm btn-primary"	
			ng-right-click="del($index)"
			ng-repeat="item in not_list">
			{{item.name}}
			</button>
		</div>
	</div>
</div>
