<div class="col-xs-12 bottom_line" >
	<div>
		以source_id搜尋
		<input 
		placeholder="輸入id"
		type="text" 
		ng-model="search_id"
		ng-enter="add(search_id);search_id='';"
		/>
		
		<button 
		draggable="true"
		sortable="cache.idSearch.search"
		index="$index"
		
		ng-class="cache.idSearch.selects.indexOf(item)==-1?'btn-primary':'btn-danger'"
		
		ng-click="select(item)"
		
		ng-right-click="del($index)"
		ng-repeat="item in cache.idSearch.search"
		class="btn btn-sm"
		>{{item}}</button>
	</div>
	
	<div style="white-space:nowrap;overflow-x:scroll;">
		<div 
		style="width:200px;height:100px;display:inline-block;white-space:normal;vertical-align:top;"
		ng-repeat="source_id in cache.idSearch.search"
		ng-if="
			result[source_id]
			&&
			cache.idSearch.selects.indexOf(source_id)!=-1
		"
		>
			{{source_id}}:
			<id-relation
			func="idSearch_func"
			list="result[source_id]"
			source-id="source_id"
			></id-relation>
		</div>
	</div>
</div>