<div class="bottom_line">
	<div>
		以source_id搜尋
		<input 
		placeholder="輸入id"
		type="text" 
		ng-model="search_id"
		ng-enter="add(search_id);search_id='';"
		/>
		
		<button 
		draggable="true"
		sortable="search"
		index="$index"
		
		ng-right-click="del($index,item)"
		ng-repeat="item in search"
		class="btn btn-primary btn-sm"
		>{{item}}</button>
	</div>
	<div>
		<button 
		ng-if="!item.type"
		ng-right-click=""
		ng-repeat="item in cache.clickSearch"
		class="btn btn-default btn-sm "
		>{{item.name}}</button>
	</div>
	
	<div ng-repeat="source_id in search">
		{{source_id}}:
		<id-relation
		ng-if="
		result[source_id]
		"
		list="result[source_id]"
		source-id="source_id"
		></id-relation>
	</div>
</div>