<div style="display:inline-block;">
	<div 
	ng-if="$ctrl.show==0"
	>
		<div 
		sortable="list"
		index="$index"
		draggable="true"
		style="display:inline-block;border:#000000 2px solid; "
		ng-repeat="tid in list"
		>
			<button 
			class="btn  btn-sm" 
			ng-click="
			$ctrl.selects[$ctrl.index*1+1]==tid?
			$ctrl.selects[$ctrl.index*1+1]=undefined
			:
			$ctrl.selects[$ctrl.index*1+1]=tid;
			"
			ng-class="$ctrl.selects[$ctrl.index*1+1]==tid?'btn-danger':'btn-primary'"
			>
			{{tagName[tid]}}
			</button><button
			class="btn btn-sm btn-default"
			ng-click="$ctrl.getTag(tid)"
			>取得</button><button
			ng-if="tagSystem.tag_mode"
			class="btn btn-sm btn-default"
			ng-click="delTag($index)"
			>刪除</button>
		</div>
		<div 
		ng-if="tagSystem.tag_mode"
		style="border:#000000 1px solid;display:inline-block;"
		>
			<input 
			style="width: auto;display:inline-block;"
			class="form-control"
			type="text" 
			placeholder="新增標籤"
			ng-model="tag_name"
			/><button 
			class="btn btn-sm btn-primary"
			ng-click="addTag(tag_name);tag_name=''"
			>新增</button>
		</div>
		
	</div>
	<div 
	ng-if="$ctrl.show==1"
	class="form-inline"
	style="display:inline-block;"
	>
		<select
		style="display:inline-block;width:auto;"
		class="form-control"
		ng-options="tid as tagName[tid] for tid in list"
		ng-model="$ctrl.selects[$ctrl.index*1+1]"
		></select><button
		class="btn btn-sm btn-default"
		ng-click="$ctrl.getTag($ctrl.selects[$ctrl.index*1+1])"
		>取得</button><button
		ng-if="tagSystem.tag_mode"
		class="btn btn-sm btn-default"
		ng-click="delTag(list.indexOf($ctrl.selects[$ctrl.index*1+1]))"
		>刪除</button>
		
	</div>
</div>

