<div 
style="display:inline-block;border:#000000 1px solid; "
ng-repeat="tid in $ctrl.data.required track by $index"
>
	<button 
	class="btn btn-primary btn-sm"
	ng-click="$ctrl.data.tmp.unshift($ctrl.data.required.splice($index,1).pop())"
	>{{tagName[tid]}}
	</button><button 
	ng-click="$ctrl.data.optional.unshift($ctrl.data.required.splice($index,1).pop())"
	class="btn  btn-sm btn-danger"
	>R</button>
</div><div 
style="display:inline-block;border:#000000 1px solid; "
ng-repeat="tid in $ctrl.data.optional track by $index"
>
	<button 
	class="btn btn-primary btn-sm"
	ng-click="$ctrl.data.tmp.unshift($ctrl.data.optional.splice($index,1).pop())"
	>{{tagName[tid]}}
	</button><button 
	ng-click="$ctrl.data.required.push($ctrl.data.optional.splice($index,1).pop())"

	class="btn btn-primary btn-sm btn-primary"
	>R</button>
</div><div 
style="display:inline-block;border:#000000 1px solid; "
ng-repeat="tid in $ctrl.data.tmp track by $index"
>
	<button 
	ng-click="$ctrl.data.tmp.splice($index,1).pop()"
	class="btn btn-danger btn-sm btn-primary"
	>D</button><button 
	class="btn btn-default btn-sm"
	ng-click="$ctrl.data.optional.push($ctrl.data.tmp.splice($index,1).pop())"
	
	>{{tagName[tid]}}
	</button>
</div>



<div style="border:#000000 1px solid;display:inline-block;">
	<input 
	style="width: auto;display:inline-block;"
	class="form-control"
	placeholder="新增搜尋條件"
	type="text"
	ng-model="tag_name"
	/><button 
	class="btn btn-sm btn-primary"
	ng-click="addSearch(tag_name);tag_name=undefined;"
	>新增</button>
</div>